<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="30">
<head>
	<link rel="stylesheet" type="text/css" href="/assets/user_index.css">
</head>
<body>
    <h1 id="heading">Chat<span id="E">E</span>r-G</h1>
    <%= link_to  user_sign_out_path,:class=>"log_out btn btn-primary" do%>
       <span> Logout</span>
    <%end%>
    <%= link_to  "Clear All Message",user_clear_path,:class=>"btn btn-danger"%>
    <div class="right">
	  <div id="message">
		<%= form_tag(user_clear_path, method: :post) do%>
    		<%= text_area_tag :message%>
    		<%=submit_tag "send", :class=>"btn btn-primary go"%>   
		<%end%>
  	  </div>
	  <div id="trans">
	 	<%@total_msg.each do |msg|%>
	 	  <div id="transactions">
	 	  	 <div class="msg_id">
	 	  	 	<%=User.find_by_id(msg.from).name%>
	 	  	 	<div style="margin-left:180px;"><%=msg.created_at.strftime('%H:%M')%></div>
	 	  	 </div>	
			 <%=msg.message%><br>
		  </div>
		<%end%>
	  </div>
	</div>
	<div class="left" style="position:fixed;">
		<h3 style="color:white;">These guys are <span style="color:red;">online</span></h3>
			<%@online.each do |on|%>
			 <div class="online-guys">
				<%= on.name%><br>
			 </div>
			<%end%>
	</div>
	<script>
        
    </script>
</body>	
</html>